.continuer__clubs {
  display: flex;
  justify-content: space-between;
}
.clubs__card {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}
.card__name__club{
  height: 20px;
}
.image__club {

width: 200px;

height: 200px;
}
.custom__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fadb !important;
  border: none !important;
  border-radius: 20px !important;
}
.custom__body {
  background-color: #fff;
}
